/* ### Primary */
$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);

/* ### Neutral */
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;;
  font-size: 15px;
  margin: 0 auto;
}
.wrapper{
  margin: 0 1em 1em;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  position: relative;
  img{
    width: 10%;
    max-width: 2.5em;
    cursor: pointer;
  }
  .menu{
    position: absolute;
    background-color: $offWhite;
    height: 100vh;
    width: 70%;
    right: 0;
    top: 1em;
    right: -1em;
    img{
      float: right;
      margin-right: 2em;
    }
    ul{
      list-style: none;
      padding-top: 5em;
      li{
        padding: 1em 0 1em 1em;
        font-weight: 400;
        font-size: 1.2rem;
        color: $veryDarkBlue;
        display: block;
        &:hover{
          background-color: $grayishBlue;
        }
      }
    }
  }
}
.grid-section{
  .desktop-img{
    display: none;
  }
  img{
    width: 100%;
    margin-bottom: 1em;
  }
  h1{
    font-weight: 800;
    font-size: 2.5rem;
    color: $veryDarkBlue;
  }
  .about{
    p{
      margin-top: 1em;
      color: $darkGrayishBlue;
      font-weight: 400;
    }
    .btn{
      width: 50%;
      padding: .8em 0.4em;
      background-color: $softRed;
      text-align: center;
      color: $offWhite;
      margin: 1em 0 2em;
      cursor: pointer;
    }
  }
  .new{
    background-color: $veryDarkBlue;
    padding: 1em 0.5em;
    margin: 3em 0;
    h2{
      color: $softOrange;
    }
    h3{
      color: $offWhite;
      margin: .5em 0;
    }
    p{
      color: $grayishBlue;
    }
    hr{
      height: 1px;
      background-color: $grayishBlue;
      border: none;
      margin-top: 1.2em;
    }
  }
}
.cards{
  margin: 1em 0;
  section{
    display: flex;
    img{
      width: 80%;
    }
    h2{
      color: $grayishBlue;
      font-weight: 700;
      margin-bottom: .5em;
    }
    h3{
      color: $veryDarkBlue;
    }
    p{
      color: $darkGrayishBlue;
      margin-top: .5em;
    }
  }
}
@media (min-width:801px){
  .grid-section{
    max-height: 40em;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img img new"
    "title about new";
    .desktop-img{
      display: inline;
      width: 100%;
    }
    .image{
      grid-area: img;
    }
    .title{
      grid-area: title;
    }
    .about{
      grid-area: about;
      .btn{
        margin-bottom: 0;
      }
    }
    .new{
      grid-area: new;
      margin: 0 0 0 1em;
      h2{
        font-size: 2.5rem;
      }
      h3{
        font-size: 1.5rem;
      }
      p{
        font-size: 1em;
      }
    }
    .mobile-img{
      display: none;
    }
  }
  .cards{
    max-height: 100em;
    margin: 5em 0;
    display: flex;
  }
  nav{
    #menu{
      display: none;
    }
    .closed{
      display: block;
    }
    .menu{
      position: relative;
      height: unset;
      transform: translateY(0);
      img{
        display: none;
      }
      ul{
        float: right;
        display: flex;
        padding-top: 0;
        li{
          cursor: pointer;
          color: $grayishBlue;
          font-weight: 700;
          font-size: 1rem;
          padding: 0;
          margin-left: 2em;
          &:hover{
            background-color: transparent;
            font-weight: 900;
            color: $veryDarkBlue;
          }
        }
      }
    }
  }
}